<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sand.mapper.note.NoteProjectMapper">

    <resultMap id="baseMap" type="org.sand.model.po.user.UserPO">
        <id property="id" column="id"/>
    </resultMap>

    <sql id="baseColumn">
        user.id, user.user_account, user.user_name, user.user_password,
        user.lock_flag,
        user.delete_flag, user.create_time, user.create_user_id, user.update_time, user.update_user_id, user.remark
    </sql>

    <select id="listOwnerByProjectId" resultMap="baseMap">
        SELECT <include refid="baseColumn" />
        FROM user_user AS user RIGHT JOIN note_project_owner AS mt
        ON user.id = mt.user_id
        WHERE user.delete_flag = 0 and mt.delete_flag = 0 and mt.project_id = #{projectId}
    </select>

    <select id="listReaderByProjectId" resultMap="baseMap">
        SELECT <include refid="baseColumn" />
        FROM user_user AS user RIGHT JOIN note_project_reader AS mt
        ON user.id = mt.user_id
        WHERE user.delete_flag = 0 and mt.delete_flag = 0 and mt.project_id = #{projectId}
    </select>

</mapper>
